.clear:after {
	content: '';
	display: table;
	clear: both;
}


.no-pad-bot {
	padding-bottom: 0 !important;
}

canvas {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

header a, .site-wrapper ul a {
	position: relative;
	z-index: 2;
}

.city-list {
	margin-top: 12em;

	.city {

		h2 {
			font-size: 3em;
		}

		a {
			color: inherit;
			text-decoration: none;
			display: inline-block;
		}
	}
}