header {
	padding: 32px 0;
	margin-bottom: 32px;

	a {
		text-decoration: none;
		color: $black;
		@include transition(all .3s ease-out);

		&:hover {
			color: $highlight;
		}
	}
}

header .site-title {
	float: left;

	@media screen and (max-width: $site-tablet) {
		margin-left: 0;
	}
}

.category-title {
	color: $highlight;
	
	@media all and (max-width: 600px) {
		display: block;
		margin-bottom: 1em;
	}
}

header nav {
	float: right;

	@media all and (max-width: 400px) {
		float: none;
		clear: both;
	}
}

header nav ul li {
	display: inline-block;
	margin-left: 10px;

	&:first-child {
		margin-left: 0;
	}
}

header nav a {
	color: $grey;
	font: $body--mono;
	text-decoration: none;
}

