header {
	padding: 32px 0;
	margin-bottom: 32px;
	position: relative;
	transition: padding-bottom 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955);
	transition-delay: 0.4s;

	a {
		text-decoration: none;
		color: $black;
		@include transition(all .3s cubic-bezier(0.215, 0.610, 0.355, 1.000));

		&:hover {
			color: $highlight;
		}
	}
}

header .site-title {
	float: left;

	@media screen and (max-width: $site-tablet) {
		margin-left: 0;
	}

	a {
		position: relative;
		display: inline-block;
		margin-left: 1em;
		margin-right: 1em;
		width: 3.3em;

		&:before,
		&:after {
			position: absolute;
			top: 0;
		}

		&:before {
			content: '[';
			left: -1em;
		}

		&:after {
			content: ']';
			right: -1em;
		}
	}
}

.hidden-nav {
    width: 100%;
    padding-left: $left-col;
    position: absolute;
    bottom: 0;
    padding-top: 15px;

    &:after {
    	content: '';
    	display: block;
    	width: 0px;
    	height: 1px;
    	background: $grey;
    	position: absolute;
    	top: 0;
    	left: $left-col;
    	transition: width 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }

    li {
    	overflow: hidden;
    	position: relative;
    	height: 20px;
    }

    li a {
		transform: translateY(-30px);
		display: inline-block;
		transition: transform 0.3s 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }


	nav ul li:nth-child(2) a {
		transition-delay: 0.15s;
    }

    nav ul li:nth-child(3) a {
		transition-delay: 0.2s;
    }


}

header.hidden-nav-open {
	padding-bottom: 70px;
	transition-delay: 0s;

	.hidden-nav:after {
		width: 20px;
		transition: width 0.3s 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	}

	li a {
		transform: translateY(0px);
		transition: transform 0.3s 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	}

	nav ul li:nth-child(2) a {
		transition-delay: 0.5s;
    }

    nav ul li:nth-child(3) a {
		transition-delay: 0.6s;
    }
}

.category-title {
	color: $highlight;

	@media all and (max-width: 600px) {
		display: block;
	}
}

header .menu-link {
	float: right;

	@media all and (max-width: 400px) {
		float: none;
		clear: both;
		padding-top: 1em;
	}
}

header nav ul li {
	display: inline-block;
	margin-left: 2em;

	&:first-child {
		margin-left: 0;
	}
}

header nav a,
.menu-link,
.link-effect {
	position: relative;
	color: $grey;
	font: $body--mono;
	text-decoration: none;

	&:before,
	&:after {
		position: absolute;
		top: 0;
		opacity: 0;
		transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	&:before {
		content: '[';
		left: -0.3em;
	}

	&:after {
		content: ']';
		right: -0.3em;
	}

	&:hover {
		&:before {
			left: -1.1em;
			opacity: 1;
		}

		&:after {
			right: -1.1em;
			opacity: 1;
		}
	}
}

