header {
	padding: 32px 0;
	margin-bottom: 32px;
}

header .site-title {
	margin-left: $left-col;
	float: left;
}

header nav {
	float: right;
}

header nav ul li {
	display: inline-block;
	margin-left: 10px;
}

header nav a {
	color: $grey;
	font: $body--mono;
	text-decoration: none;
}

// Temp Location for filter overlay styles.

.filter-overlay-bg {
	background: $highlight;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	display: block;
	position: fixed;
	transform: scale(0);
	z-index: 10;
}

.filter-overlay-nav {
	opacity: 0;
	display: none;
	position: fixed;
	left: 100px;
	top: 20%;
	z-index: 20;
	font: $heading--large;
	color: $white;
	width: 100%;
}

.filter-overlay-nav li {
	margin-bottom: 50px;
}