.alert {
    background: rgb(187,217,236);
    padding: 0.5em 0.75em;
    font-family: "GT Pressura", "Lucida Console", Monaco, monospace;
    color: rgb(0, 61, 166);
    line-height: 1.6;
}

.alert-danger {
	background: rgb(242,222,222);
	color: rgb(169, 68, 66);
}

.alert-success {
	background: rgb(225,240,215);
	color: rgb(60, 118, 61);
}