.btn {
    border: 0;
    padding: 0.6em 2em;
    background: transparent;
    cursor: pointer;

    &.primary {
        background: $highlight;
        color: $white;
    }

    &.danger {
        background: rgb(254,82,54);
        color: $white;
    }
}
