/**
 * Reusable color scheme components
 */

.color-scheme {
	display: inline-block;
	width: 200px;
	overflow: hidden;
}

.color-scheme-color {
	display: block;
	float: left;
	width: 33.33%;
	height: 30px;
	text-indent: -999em;
}

/**
 * Styles for the color scheme selector
 */

.cs-color-scheme-select-input {
	font: $body--mono;
	line-height: 40px;
}

.cs-color-scheme-select {
	font: $body--mono;
	position: absolute;
	top: -400px;
	left: 0;
	padding: 1em;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
	display: none;
	opacity: 0;
	@include transition(all .3s ease-out);

	&.open {
		display: block;
		opacity: 1;
	}
}

.cs-color-scheme-select-option {
	display: inline-block;
	cursor: pointer;
	padding: 12px;
	text-align: center;
	@include transition(all .3s ease-out);

	&:hover {
		background: rgb(230,230,230);
	}
}

.cs-color-scheme-select-default {
	display: block;
}

.cs-color-scheme-select-option-color {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 3px;
	border-radius: 15px;
	border: 1px solid rgb(225,225,225);
	text-indent: -999em;
}
