label,
input,
textarea,
select {
    font: $body--mono;
}

.form {
    margin-top: 3em;

    .form-row {
        padding-bottom: 2em;

        > label {
            display: block;
            float: left;
            clear: left;
            width: $left-col;
            padding: 10px 0;
        }

        .form-row-body {
            margin-left: $left-col;
            max-width: 430px;

            .form-row-body-segment {
                float: left;
                padding-right: 2em;

                input,
                label {
                    display: block;
                }

                label {
                    margin-bottom: 1em;
                }
            }
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .label-focus {
        color: $highlight;
    }

    .input-text {
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgb(0,0,0);
        padding: 10px 0;

        &:focus {
            outline: none;
            border-width: 2px;
            padding-bottom: 9px;
            border-color: $highlight;
        }
    }

    textarea.input-text {
        border-top: 1px solid rgb(0,0,0);
        padding-top: 9px;

        &:focus {
            padding-top: 8px;
        }
    }

    .input-select {
        padding: 9px 10px;
        border: 1px solid rgb(0,0,0);
        border-radius: 0;
        background: transparent;
        -webkit-appearance: none;

        &:focus {
            outline: none;
            border-width: 2px;
            padding: 8px 9px;
            border-color: $highlight;
        }
    }
}