label,
input,
textarea,
select,
.field-errors {
    font: $body--mono;
    -webkit-appearance: none;
}

.form {
    margin-top: 3em;

    .form-row {
        padding-bottom: 2em;

        > label {
            display: block;
            float: left;
            clear: left;
            width: $left-col;
            padding: 10px 0;
        }

        .form-row-body {
            position: relative;
            margin-left: $left-col;
            max-width: 430px;

            .form-row-body-segment {
                position: relative;
                float: right;
                max-width: 45%;

                input,
                label {
                    display: block;
                    max-width: 100%;
                }

                label {
                    margin-bottom: 1em;
                }

                &:first-child {
                    float: left;
                }
            }
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .label-focus {
        color: $highlight;
    }

    .input-text {
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgb(0,0,0);
        padding: 10px 0;

        &:focus {
            outline: none;
            border-width: 2px;
            padding-bottom: 9px;
            border-color: $highlight;
        }
    }

    textarea.input-text {
        border-top: 1px solid rgb(0,0,0);
        padding-top: 9px;

        &:focus {
            padding-top: 8px;
        }
    }

    .input-select {
        padding: 9px 10px;
        border: 1px solid rgb(0,0,0);
        border-radius: 0;
        background: transparent;
        -webkit-appearance: none;

        &:focus {
            outline: none;
            border-width: 2px;
            padding: 8px 9px;
            border-color: $highlight;
        }
    }

    .input-tooltip {
        display: none;
        position: absolute;
        top: 5.5em;
        left: 0;
        padding: 0.6em;
        color: $highlight;
        background: rgb(245,245,245);
        clear: both;
        z-index: 10;

        &:before {
            position: absolute;
            content: '';
            top: -12px;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid rgb(245,245,245);
        }
    }

    .field-errors {
        color: rgb(242,112,111);
        padding-top: 0.4em;
        clear: both;

        &+.field-errors {
            padding-top: 0;
        }
    }
}
