$white: rgb(255,255,255);
$grey--x-light: rgb(236,236,236);
$grey--light: rgb(157,157,156);
$grey: rgb(128,128,128);
$black: rgb(0,0,0);
$highlight: rgb(0,61,166);

//Typography
$typeface--heading: 'Newzald', serif; // Need some more fall back options here ?
$typeface--body: 'Graphik', sans-serif; // ^
$typeface--mono: 'Pressura', monospace; // ^

$heading--large: 3.125em/0.9 $typeface--heading;
$heading--normal: 1.75rem/1.2 $typeface--heading;
$heading--small: 1.063rem/1.25 $typeface--mono;

$body--normal: 1rem/1.25 $typeface--body;
$body--mono: 1rem/1.25 $typeface--mono;

// Site Wrappers
$site-wrapper: 100%;
$left-content: 90%;

// Margins
$left-col: 140px;

// Padding
$list-vert-padding: 16px;

// Site Config

$image-path: '../../../../assets/img/';