.event-background-color {
	background: $highlight;
}

.event-primary-color {
	color: $white;
}

.event-secondary-color {
	color: rgb(237,111,109);
}

.event-info {
	padding: 60px;
	height: 100%;
	width: 35%;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;

	&.event-info--open {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		transform: translateX(0%);
	}
}

.event-info > * {
	opacity: 0;
}
.event-info--open > * {
	opacity: 1;
}

.event-info--close {
	cursor: pointer;
	position: absolute;
	right: 60px;
	top: 32px;
	width: 20px;

	img {
		width: 100%;
	}
}

.event-info--title {
	margin-top: 60px;
	margin-bottom: 40px;
}

.event-info--metadata {
	margin-bottom: 40px;
}

.event-info--date,
.event-info--time,
.event-info--location {
	position: relative;
	padding: 6px 0 6px 30px;

	&:before {
		content: '';
		width: 18px;
		position: absolute;
		left: 0;
	}
}

.event-info--date:before {
	content: url($image-path + 'event-date.svg');
}

.event-info--time:before {
	content: url($image-path + 'event-time.svg');
}

.event-info--location:before {
	content: url($image-path + 'event-location.svg');
}

.event-info--navigation {
	display: block;
	width: 100%;
	border-top: 1px solid $white;
	margin-top: 60px;
	padding-top: 10px;
}

.event-info--nav-arrows {
	float: right;
}

.event-info--share {
	float: left;
	line-height: 22px; //Temp vertical alignment hack until we can think of something better.
}

.nav-arrows--arrow {
	width: 12px;
	float: left;

	img {
		width: 100%;
		display: block;
	}

	&:nth-child(2){
		margin-left: 10px;
	}
}
