.events-list {
	margin-bottom: 5em;
}

.month-range.hidden ul {
	display: none;
}

.month--title {
	width: 100%;
	display: block;
	border-bottom: 1px solid $black;
	padding-bottom: $list-vert-padding;
	padding-top: $list-vert-padding;
	line-height: 1;
}

.event a {
	color: $black;
	cursor: pointer;
}

.event a:hover,
.event.event--active a {
	color: $highlight;
	
	.event-item-icon {
		-webkit-transform: rotate(0deg);

		&:last-child {
			margin-right: 10px;
		}

		svg {
			height: 24px;
			margin-right: 6px;
			padding-top: 0;
			width: auto;
		}
	}
}

.event--link, 
.event--date {
	float: left;
	display: block;
	padding: $list-vert-padding 0;
}

.event--link {
	width: calc(100% - #{$left-col}); //Temp ? - calc has issues in IE8
	display: block;
	border-bottom: 1px solid $black;
	position: relative;

	// @media screen and (max-width: $site-tablet) {
	// 	width: calc(100% - #{$tab-left-col});
	// }
}

.event-item-icons {
	float: left;
	height: 21px;
}

.event-item-icon {
	display: block;
	float: left;
	-webkit-transform: rotate(-90deg);
	@include transition(all .3s ease-out);

	svg {
		height: 0;
		margin: 0;
		padding-top: 12px;
		top: 11px;
		@include transition(all .3s ease-out);
	}
}

.event--icon svg, 
.event--icon img {
	width: 100%;
}

.event--date {
	width: $left-col;

	// @media screen and (max-width: $site-tablet) {
	// 	width: $tab-left-col;
	// }
}
