/****************************************************
 * These styles are overridden by event color schemes
 */

.event-background-color {
	background: $highlight;
}

.event-primary-color {
	color: $white;
}

.event-secondary-color {
	color: rgb(237,111,109);
}

/*****************************************************/



.event-info {
	padding: 5%;
	height: 100%;
	width: 100%;
	max-width: 700px;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;

	@media all and (min-width: 600px) {
		padding: 60px;
	}

	@media all and (min-width: 1800px) {
		width: 35%;
		max-width: none;
	}

	p {
		margin-bottom: 1em;
	}
}

.event-info > * {
	opacity: 0;
	max-width: 550px;
}

.event-info-open {
	.event-info {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		transform: translateX(0%);
	}

	.event-info > * {
		opacity: 1;
	}
}

// .event-info--open > * {
// 	opacity: 1;
// }

.event-info--close {
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 32px;
	width: 20px;

	@media all and (min-width: 600px) {
		right: 60px;
	}

	img {
		width: 100%;
	}
}

.event-info--title {
	margin-top: 60px;
	margin-bottom: 40px;
}

.event-info--metadata {
	margin-bottom: 40px;
}

.event-info--date,
.event-info--time,
.event-info--location {
	position: relative;
	padding: 6px 0 6px 30px;
}

.event-icon {
	width: 18px;
	position: absolute;
	left: 0;
}

.event-info--navigation {
	display: block;
	width: 100%;
	border-top: 1px solid $white;
	margin-top: 60px;
	padding-top: 10px;
}

.event-info--nav-arrows {
	float: right;
}

.event-info--share {
	float: left;
	line-height: 22px; //Temp vertical alignment hack until we can think of something better.

	a {
		color: inherit;
		text-decoration: none;
	}
}

.nav-arrows--arrow {
	width: 12px;
	float: left;

	img {
		width: 100%;
		display: block;
	}

	&:nth-child(2){
		margin-left: 10px;
	}
}
