html {
	-webkit-font-smoothing: antialiased;
}

// Serif Header Font
@font-face {
  font-family: 'Newzald';
  src: url('./assets/fonts/newzald-bold/newzald-bold.eot');
  src: url('./assets/fonts/newzald-bold/newzald-bold.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/newzald-bold/newzald-bold.woff') format('woff'),
       url('./assets/fonts/newzald-bold/newzald-bold.ttf') format('truetype'),
       url('./assets/fonts/newzald-bold/newzald-bold.svg#Newzald') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Serif Header Font -- Italic.
@font-face {
  font-family: 'Newzald';
  src: url('./assets/fonts/newzald-bold-italic/newzald-bolditalic.eot');
  src: url('./assets/fonts/newzald-bold-italic/newzald-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/newzald-bold-italic/newzald-bolditalic.woff') format('woff'),
       url('./assets/fonts/newzald-bold-italic/newzald-bolditalic.ttf') format('truetype'),
       url('./assets/fonts/newzald-bold-italic/newzald-bolditalic.svg#Newzald') format('svg');
  font-weight: normal;
  font-style: italic;
}

// Monospace Font
@font-face {
  font-family: 'GT Pressura';
  src: url('./assets/fonts/pressura/gt-pressura-light.eot');
  src: url('./assets/fonts/pressura/gt-pressura-light.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/pressura/gt-pressura-light.woff') format('woff'),
       url('./assets/fonts/pressura/gt-pressura-light.ttf') format('truetype'),
       url('./assets/fonts/pressura/gt-pressura-light.svg#GT Pressura') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Monospace Font Bold
@font-face {
  font-family: 'GT Pressura';
  src: url('./assets/fonts/pressura-regular/gt-pressura.eot');
  src: url('./assets/fonts/pressura-regular/gt-pressura.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/pressura-regular/gt-pressura.woff') format('woff'),
       url('./assets/fonts/pressura-regular/gt-pressura.ttf') format('truetype'),
       url('./assets/fonts/pressura-regular/gt-pressura.svg#GT Pressura') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Serif Font
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/graphik/graphik-regular.eot');
  src: url('./assets/fonts/graphik/graphik-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/graphik/graphik-regular.woff') format('woff'),
       url('./assets/fonts/graphik/graphik-regular.ttf') format('truetype'),
       url('./assets/fonts/graphik/graphik-regular.svg#Graphik') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  font: $body--normal;
}

h1{
  font: $heading--x-large;
}

h2 {
  font: $heading--normal;
}

h3 {
  font: $heading--small;
}

h4 {
  font: $heading--x-small;
}

.bolded {
  font-weight: bold;
}

.two-col-text {
  p {
    orphans: 5;
    widows: 3;
  }

  margin-bottom: 1em;
  @include vendor(column-count, 2);
  @include vendor(column-gap, 2rem);
  @include vendor(column-width, 300px);
}

